!!!5
%html
  %head
    %meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")  
    %title index 
    %link(rel="stylesheet" href="css/mobile.css")
  %body
    %div.logo
      %img(src="images/logo.png")
    %div.step.step-1
      %img.step-img(src="images/step-1.png")
    %div.step.step-2
      %img.step-img(src="images/step-2.png")
    %div.step.step-3
      %img.step-img(src="images/step-3.png")
    %div.bl	  
  