!!!5
%html
  %head
    %meta(charset="utf-8")  
    %meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")  
    %title index 
    %link(rel="stylesheet" href="css/mobile.css")
    %script(src="scripts/zepto.min.js")
    %script(src="scripts/File.js")	
  %body
    %div.logo
      %img(src="images/logo.png")
    %form(id="uploadForm" action="upload.php" method="post" enctype="multipart/form-data")	  
      %div.step.step-1
        %img.step-img(src="images/step-1.png")
        %div.step-wrap
          %div.add-img.icon-plus
            %input(type="file" id="fileImage" name="fileselect[]" multiple="")		
          
        %div.step-wrap
          %div.show-img
            %img(src="images/test.png")	
          %div.show-img
            %img(src="images/test.png")		  
      %div.step.step-2
        %img.step-img(src="images/step-2.png")
        %div.step-wrap
          %input(type="text" class="txt-title")		  
      %div.step.step-3
        %img.step-img(src="images/step-3.png")
        %div.step-wrap
          %input(type="submit" class="btn-submit")		
    %div.bl
    %footer
      %img(src="images/footer.png")	
  %script(src="scripts/page.js")	
  